.login-container {
    height: fit-content;
    min-height: 100vh;
    background-image: url("../../assets/imgs/front/home-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-wrapper {
        width: 500px;
        height: 700px;
        background-color: #ffc0ff;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        padding: 15px;
        margin-top: 50px;
        margin-bottom: 50px;

        .decorating-wrapper {
            width: 100%;
            height: 100%;
            margin: -15px;
            position: absolute;
            z-index: -1;

            img {
                position: absolute;
                width: 30%;

                &:nth-child(1) {
                    width: 20%;
                    transform: rotateX(180deg);
                    top: 5px;
                    left: 5px;
                }

                &:nth-child(2) {
                    width: 20%;
                    transform: rotateZ(180deg);
                    top: 5px;
                    right: 5px;
                }

                &:nth-child(3) {
                    bottom: 10px;
                    left: 10px;
                }

                &:nth-child(4) {
                    transform: rotateY(180deg);
                    bottom: 10px;
                    right: 10px;
                }
            }
        }
    }

    .width-100 {
        width: 100%;
    }

    .display-flex {
        display: flex;
    }

    .flex-row {
        flex-direction: row;
    }

    .flex-column {
        flex-direction: column;
    }

    .item-center {
        align-items: center;
        justify-content: center;
    }

    .margin-top-15 {
        margin-top: 15px;
    }

    .split-bar {
        width: 100%;
        height: 1px;
        background-color: #373B44;
    }

    .button-style1 {
        --b: 3px;
        /* border thickness */
        --s: .45em;
        /* size of the corner */
        --color: #373B44;

        padding: calc(.5em + var(--s)) calc(.9em + var(--s));
        color: var(--color);
        --_p: var(--s);
        background:
            conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
        transition: .3s linear, color 0s, background-color 0s;
        outline: var(--b) solid #0000;
        outline-offset: .6em;
        font-size: 16px;

        border: 0;

        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover,
        &:focus-visible {
            --_p: 0px;
            outline-color: var(--color);
            outline-offset: .05em;
        }

        &:active {
            background: var(--color);
            color: #fff;
        }
    }
}

.customize-scroll-bar {
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #606ae280;
    }
}